<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
    </sectionGroup>
  </configSections>
  <appSettings>

  </appSettings>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <!--使用Web.config中的配置-->
        <!--<arg key="configType" value="inline"/>-->
        <arg key="configType" value="file-watch"/>
        <arg key="configFile" value="log4net.config" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
</configuration>